
@font-face{
    font-family: 'myFont';
    src: url('../fonts/my-font.woff2') format('woff2'),
        url('../fonts/my-font.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.main {
    color: red;
    font-family: 'myFont'
}